<script type="text/ng-template" id="template.html">
  <a class="search-item">
      <h4>{{match.model.name}}</h4>
      <h5>Language: {{match.model.lang}} <span ng-if="match.model.platform">Platform: {{match.model.platform}}</span></h5>
  </a>
</script>
<!-- search field -->
<div class="row">
  <div class="form-group col-xs-12 search-form">
    <input  type="text"
            class="form-control input-lg"
            placeholder="e.g. 'semantics3'"
            ng-model="service"
            typeahead-template-url="template.html"
            uib-typeahead="api as api.str for api in find($viewValue,5,'AND')" />
  </div>
</div>

<!-- code field -->
<div class="row">
  <div class="col-xs-12">
    <div class="code-box">
      <div class="top">
        <div class="circle red col-xs-1"></div>
        <div class="circle green col-xs-1"></div>
        <div class="circle blue col-xs-1"></div>
        <div class="col-xs-9 code-box-header">
          <span> Service: <a target="_blank" href="{{service.providerURL}}">{{service.name}}</a></span>
        </div>
      </div>
      <api-parent service="service" />
    </div>
  </div>
</div>
